@CHARSET "UTF-8";
/*General*/
p{margin: 15px 0 15px;}
.container-fluid{padding-left: 0;padding-right: 0;}
.img-responsive{margin: 0 auto;}
.row > div{margin-top: 20px;margin-bottom: 20px;}

/*Narivator*/
.navbar-default{background-color: transparent;border-color: transparent;}
.navbar-default .navbar-brand{color: #ffffff;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{color: #ffffff;text-decoration: underline;}
.navbar-default .navbar-nav>li>a, .navbar-default{color: #ffffff;}
.navbar-default .navbar-nav>.open>a, .dropdown-menu li a{color: #ffffff;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background: inherit;color: #ffffff;}
.navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a.active{color: #ffffff;border-bottom: 2px solid #b7c8d9;}
.navbar-nav>li>.dropdown-menu{background: rgba(0, 0, 0, 0.6);}
.dropdown-menu li:hover a{color: #ffffff;text-decoration: underline;background: transparent;}
.scrolled{background: rgba(0, 0, 0, 0.6) !important;}

/*Content style*/
p.article-heading{text-align: center;}
.h1-content{font-size: 38px;}
.h2-content{font-size: 24px;}

/*Link style*/
.phone-no, .email-add{display: inline-block;}
.phone-no a, .email-add a{color: #9e9e9e;}

/*Custom homepage*/
.banner-wrap{position: relative;}
.banner-text{position: absolute;color: #ffffff;top: 40%;width: 100%;text-align: center;}
.read-more{color: #ffffff;padding: 15px 55px;background: rgba(0, 0, 0, 0.6);border-radius:0;visibility: hidden;}
.read-more:hover{color: #ffffff;text-decoration: underline;background: rgba(0, 0, 0, 0.6);border-radius:0;}

.tooltips{border-bottom: 1px dotted #9E9E9E;}
.tooltips .tooltiptext{visibility: hidden;position: absolute;width: 230px;background-color: #000000;color: #ffffff;padding: 10px; z-index: 1;opacity: 0; transition: opacity 1s;}
.tooltip-bottom::after{content: "";position: absolute;bottom: 100%;left: 50%;margin-left: -5px;border-width: 5px;border-style: solid;border-color: transparent transparent #000000 transparent;}
.tooltips:hover .tooltiptext{visibility: visible;opacity: 1;}

.main-container{padding-bottom: 40px;}
.homepage-main{background: #f3f3f3;}
.homepage-subscribe{background: #ffffff;text-align: center;margin-left: 0;margin-right: 0;}
.form-inline{padding-top: 40px;padding-bottom: 40px;}
.btn-subscribe{background: #343638;color: #ffffff;border-radius: 0;}
#input-email{border-radius: 0;}

.panel-group .panel+.panel{margin-top: 0;}
.panel-heading [data-toggle="collapse"]:after{font-family: 'Glyphicons Halflings';content: "\2212";float: right;color: #000000;font-size: 18px;line-height: 22px;}
.panel-heading [data-toggle="collapse"].collapsed:after{content: "\002b";}
.panel-default>.panel-heading.homepage{background: #ffffff;border: 1px solid #f3f3f3;}

.caption.overlay-small{position: absolute;bottom: 0;width: 92%;word-break: break-word;text-indent: 20px;padding: 20px 0;}
.caption.overlay-wide{position: absolute;bottom: 0;width: 96%;word-break: break-word;text-indent: 20px;padding: 20px 0;}
.c2a-img:hover .img-responsive{filter: brightness(30%);-webkit-filter: brightness(30%);-moz-filter: brightness(30%);}
.c2a-img:hover a{text-decoration: underline;}
.c2a-hover-show{text-align: center; padding: 0;height: 70%;}
.c2a-link-text{display: block;height: 100%;text-decoration: none !important;height: 100%;width: 100%;position: absolute;top: 0;}
.caption.overlay-small a, .caption.overlay-wide a, .c2a-hover-show{color: #ffffff;}
.author-name, .author-date{color: #858585;}

/*Footer*/
.footer-wrap{padding-top: 40px;padding-bottom: 40px;}
.footer-header{font-weight: 700;}
.footer-text{color: #9e9e9e;}
.footer-titan{background: #343638;color: #ffffff;font-size: 12px;}
.footer-nav{padding-left: 0;list-style: none;}
.footer-nav li:before{content: "• ";color: #9e9e9e;}
.footer-nav li a{color: #9e9e9e;}
.titan-logo{display: inline-block;margin: 0 10px;position: relative;}
.titan-logo-link{}
.titan-links{padding: 0;}
.titan-links li{list-style-type: none;display: inline-block;border-left: 1px solid #ffffff;}
.titan-links li a{padding: 10px;color: #ffffff;}
.titan-links li:nth-child(1){border-left: none;}
.titan-links li:nth-child(1) a{padding-left: 0;}